{% extends 'base.html' %}

{% block title %}detail{% endblock %}

{% block content %}
<div class="body">
    <div class="mid">
        <div class="mid_title">
            <p class="title">{{ post.title }}</p>
        </div>
        <p class="content">{{ post.content }}</p>
        <p class="deadline">{{ post.deadline }}</p>
    </div>
    <div class="bot">
        <div class="bot_com">
            {% for comment in post.comments.all %}
            <div class="bot_com_show">
                <div class="bot_com_show_con">
                    {{ comment.content}}
                </div>
                <div class="bot_com_show_del">
                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                    <a href="{% url 'delete_comment' post.pk comment.pk %}">댓글 삭제</a>
                    <a href="{% url 'edit_comment' post.pk comment.pk %}">댓글수정</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <form method="POST">
                <div class="bot_com_sub">
                    {% csrf_token %}
                    <div class="bot_com_sub_con">
                        <input type="text" name="content" placeholder="댓글을 입력해주세요">
                    </div>
                    <div class="bot_com_sub_add">
                        <button type="submit">댓글 쓰기</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="bot_bar">
            <a href="{% url 'home' %}">
                <span class="material-icons">
                    home
                </span>
                홈으로</a>
            {% if user.is_authenticated and post.author.pk == user.pk %}
            <a href="{% url 'edit' post.pk %}">
                <span class="material-icons">
                    alarm_on
                </span>
                수정하기</a>
            <a href="{% url 'delete' post.pk %}">
                <span class="material-icons">
                    alarm_off
                </span>
                삭제하기</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}