{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<div class="body">
    <form method="POST">
        {% csrf_token %}
        <div class="main">
            <fieldset>
                <legend>제목</legend>
                <input class="title" type="text" name="title" value="{{ post.title }}">
            </fieldset>
            <fieldset>
                <legend>세부사항</legend>
            <textarea class="content" name="content" cols="40" rows="10" value="{{ post.content }}">{{ post.content }}</textarea>
            </fieldset>
            <fieldset>
            <legend>마감기한</legend>
            <input class = "deadline" type="date" name="deadline" value="{{ post.deadline }}">
            </fieldset>
        </div>
        <div class="submit">
            <button type="submit">
                <span class="material-icons">
                alarm_on
            </span>
                수정하기
            </button>
        </div>
    </form>
</div>
{% endblock %}