{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<div class="body">
    <form method="POST">
        {% csrf_token %}
        <div class="main">
            <fieldset>
            <legend>제목</legend>
            <input class="title" type="text" name="title" placeholder="제목을 입력해주세요">
            </fieldset>
            <fieldset>
            <legend>세부사항</legend>
            <textarea class="content" name="content" rows="10" placeholder="세부사항을 입력해주세요">{{ post.content }}</textarea>
            </fieldset>
            <fieldset>
            <legend>마감기한</legend>
            <input class="deadline" type="date" name="deadline" placeholder="마감기한을 입력해주세요">
            </fieldset>
        </div>
        <!-- <fieldset> -->
        <div class="submit">   
            <button type="submit">
                <span class="material-icons">
                alarm_add
                </span>
                작성하기
            </button>
        </div> 
        <!-- </fieldset> -->
    </form>
</div>    
{% endblock %}